*{
    padding: 0;
    margin: 0;
}
#top{
    width: 100%;
    height: 50px;
    background-color    );
}

#container{
    width: 100%;
    height: 92.4vh;
    background-color:#90822f;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center{
    width: 500px;
    height: 530px;
    background-color:rgb(22, 22, 22);
    text-align: center;
}
.text{
    font-size: 50px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}
input{
    display: inline-block;
    margin: 5px;
    font-size: 25px;
}
label{
    font-family: 'Roboto', sans-serif ;
    display: block;
    font-size: 20px;
   
}
label, p{
    color: white;
}
button{
    width: 250px;
    height: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-width: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.tamanho{
    height: 40px;
    width: 250px;
}