*{
    margin: 0;
    padding: 0;
}
#top{
    width: 100%;
    height: 50px;
    background-color: blue;
}
#container{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: row;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}
#center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 420px;
    width: 800px;
    flex-wrap: wrap;
    background-color: brown;
    
}
.square{
    width: 155px;
    height: 155px;
    background-color: black;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s ease;
}
a{
    color: white;
    text-align: center;
    
}
.square a{
    text-align: center;
    color: white;
    transition: color 3s ease;
    
}
.square:hover{
    background-color: white;
}
a:hover{
    color: black;
}

p{
    color: white;
    float: left;
    padding-left: 20px;
    padding-top: 12px
}